<?xml version='1.0' encoding='utf-8'?>
<widget id="com.passionizer.sport" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Passionizer</name>
    <description>An awesome Ionic/Cordova app.</description>
    <author email="vranec.michal@gmail.com">Michal Vranec</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="loadUrlTimeoutValue" value="700000" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="NSLocationWhenInUseUsageDescription" platform="ios" target="*-Info.plist">
            <string />
        </config-file>
    </platform>
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="20" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <preference name="SplashScreenBackgroundColor" value="0xFFFFFFFF" />
    <preference name="Orientation" value="portrait" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <allow-navigation href="http://192.168.0.10:8100" />
    <allow-navigation href="http://192.168.0.10:8000" />
    <allow-navigation href="http://192.168.0.11:8100" />
    <allow-navigation href="http://192.168.1.7:8100" />
    <allow-navigation href="http://192.168.0.11:8101" />
    <allow-navigation href="http://localhost:8080/*" />
    <allow-navigation href="http://192.168.1.4:8100" />
    <allow-navigation href="http://192.168.1.4:8101" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="com-badrit-base64" spec="git+https://github.com/hazemhagrass/phonegap-base64.git" />
    <plugin name="cordova-custom-config" spec="^3.3.0" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-console" spec="^1.0.7" />
    <plugin name="cordova-plugin-crop" spec="git+https://github.com/jeduan/cordova-plugin-crop.git" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-facebook4" spec="^1.9.1">
        <variable name="APP_ID" value="1713562838859925" />
        <variable name="APP_NAME" value="passionizer" />
    </plugin>
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-googlemaps" spec="git+https://github.com/mapsplugin/cordova-plugin-googlemaps.git#b22f73fb565989bd4724ee89545c01860692dbe0">
        <variable name="API_KEY_FOR_IOS" value="AIzaSyDgbJ_KJ4bdVT0k6We9DvnWJAYOwBNnMFY" />
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyDgbJ_KJ4bdVT0k6We9DvnWJAYOwBNnMFY" />
    </plugin>
    <plugin name="cordova-plugin-nativegeocoder" spec="^1.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="git+https://github.com/driftyco/cordova-plugin-wkwebview-engine.git" />
    <plugin name="cordova-sqlite-storage" spec="^2.0.4" />
    <plugin name="ionic-plugin-keyboard" spec="^2.2.1" />
    <plugin name="onesignal-cordova-plugin" spec="^2.1.2" />
</widget>
