page-user-sign-up-personal-data {
  //TODO IOS color
  $user-picture-color: $list-ios-border-color;
  $user-picture-size: 110px;

  .user-picture-container {
    border: 1px solid $user-picture-color;
    height: $user-picture-size;
    width: $user-picture-size;
    margin: 15px auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    .user-picture {
      border-radius: 50%;
      max-height: $user-picture-size;
      max-width: $user-picture-size;
    }
    .no-user-picture {
      .icon-text {
        color: $user-picture-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
          font-size: 4rem;
        }
      }
    }
  }
}
