page-fitness {
  .workout-block {
    .label {
      margin-top: 0;
      margin-bottom: 0;
    }
    .icon {
      font-size: 2.3em;
    }
  }
  .membership-block {
    .label {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }

}
