page-create-or-search {
  ion-content {
    .container {
      height: 100%;
    }
    .container > div {
      text-align: center;
    }
    .child1 {
      height: 50%;
    }
    .child2 {
      height: 50%;
    }
  }
}
